body {
  font-family: , Arial, sans-serif;
  background-color: #f0f4f8;
  color: #333;
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 15px;
}


#titlu-catalog {
  font-size: 45;
  letter-spacing: 2px;
  color: #ffcc00;
}


.coperta {
  text-align: center;
  margin-top: 20px;
}

.coperta img {
  width: 30%;
  border-radius: 20px;
  opacity: 0.9;

}
nav ul {
  list-style-type: none;
  text-align: center;

}

nav li {
  display: inline-block;
  margin: 10px 15px;
}

nav a {
  text-decoration: none;
  color: #003366;
  font-weight: bold;
}

nav a:hover {
  color: #ff6600;
}


.profil {
  width: 50%;
  margin: 30px auto;
  background-color: #ffffff;
  border: 2px solid #003366;
  border-radius: 10px;
  padding: 20px;
}

.imagine-profil {
  display: block;
  margin: 0 auto;
  width: 150px;
  border-radius: 50%;
  border: 3px solid #003366;
}